body {
    margin-top:     2em;
    font-family:    Roboto, sans-serif;

    /* Color Codes from: https://uxplanet.org/neumorphism-in-user-interface-tutorial-c353698ac5c0 */
    --area: #E0E5EC;
    --light-shadow: #FFF;
    --dark-shadow: #A8ACB1;
    --border-radius: 5px;
    background-color: var(--area);
}
main {
    max-width:  40em;
    margin:     auto;
    padding:    2em;

    border-radius: 10px;
    background-color: #E0E5EC;
    box-shadow: 20px 20px 40px var(--dark-shadow), -20px -20px 40px var(--light-shadow);
}
h1 {
    text-align: center;
}
.holder {
    margin: 0 3em 0 3em;
}

input[type=text] {
    font-size: 1.2em;
    border-width: 0;
    width: 450px;

    background: var(--area);
    box-shadow: 20px 20px 40px var(--dark-shadow);
    padding: 10px;
}

input[type=text]:focus, button:focus, #plus:focus, #fortune:focus {
    box-shadow: inset 10px 10px 20px var(--dark-shadow),
                inset -10px -10px 20px var(--light-shadow);
    outline: transparent none 0;
}

input[type=checkbox] {
    margin-top: 25px;
    margin-left: 0;
}

/* Hack to make checkboxes stylable */
input[type=checkbox]::before {
    content: '\2717';
    background: var(--area);
    box-shadow: 20px 20px 40px var(--dark-shadow);, -20px -20px 40px var(--light-shadow);
    padding: 16px;

    border-bottom-right-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}
input[type=checkbox]:checked::before {
    content: '\2713';
    box-shadow: inset 10px 10px 20px var(--dark-shadow), inset -10px -10px 20px var(--light-shadow);
 }

#todoContainer {
    display: flex;
    flex-wrap: wrap;
}
#todoContainer button, #todoContainer input[type=text] {
    margin-top: 10px;
}
#plus, #fortune {
    border: 0;
    padding: 15px;
    margin: 10px;

    border-radius: var(--border-radius);
    background: var(--area);
    box-shadow: 20px 20px 40px var(--dark-shadow), -20px -20px 40px var(--light-shadow);
}

.delete {
    background-color: transparent;
    border: none;
    color: red;
    font-size: 1.3em;

    border-bottom-left-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
    padding: 10px;

    background: var(--area);
    box-shadow: 20px 20px 40px var(--dark-shadow), -20px -20px 40px var(--light-shadow);
}

div:nth-of-type(2), div:nth-of-type(3) {
    padding: 10px;
    margin-top: 20px;

    border-radius: var(--border-radius);
    background: var(--area);
    box-shadow:  inset 5px 5px 10px var(--dark-shadow);
}
