body {
    margin-top:     2em;
    font-family:    "Helvetica Neue", sans-serif;

    /* Color Codes from: https://uxplanet.org/neumorphism-in-user-interface-tutorial-c353698ac5c0 */
    --area: #E0E5EC;
    --light-shadow: rgba(255,255,255, 0.5);
    --dark-shadow: rgba(163,177,198,0.6);

    background-color: var(--area);
}
main {
    max-width:  40em;
    margin:     auto;
    padding:    2em;

    background-color: #E0E5EC;
    box-shadow: 9px 9px 16px var(--dark-shadow), -9px -9px 16px var(--light-shadow);
}
h1 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
}
.holder {
    margin: 0 3em 0 3em;
}

input[type=text] {

    font-family:    "Comic Sans MS", cursive, sans-serif;
    font-size:      1.1em;
    border-width:   0 0 1px 0;

    background-color: #E0E5EC;
    box-shadow: 9px 9px 16px var(--dark-shadow), -9px -9px 16px var(--light-shadow);

    padding: 10px;
    border-radius: 20px;
}

input[type=checkbox] {
    margin: 30px 20px 20px;
}

input[type=text]:focus {
    border-color:   orange;
    outline:        transparent none 0;
}
#todoContainer {
    display:        grid;
    grid-column-gap: 0.5em;
    grid-template-columns: 1.7em auto auto;
    margin: 10px;
}
#todoContainer button, #todoContainer input[type=text] {
    margin-top: 10px;
}
#plus, #fortune {
    border: 0;
    padding: 10px;
    margin: 10px;

    background-color: #E0E5EC;
    box-shadow: 9px 9px 16px var(--dark-shadow), -9px -9px 16px var(--light-shadow);
}

.delete {
    background-color: transparent;
    border: none;
    color: red;
    font-size: 1.3em;

    .box-shadow: 9px 9px 16px var(--dark-shadow), -9px -9px 16px var(--light-shadow);
}

div:nth-of-type(2), div:nth-of-type(3) {
    padding: 10px;
    margin-top: 20px;

    background-color: #E0E5EC;
    box-shadow: 9px 9px 16px var(--dark-shadow), -9px -9px 16px var(--light-shadow);
}
