body {
    margin-top:     2em;
    font-family:    Roboto, sans-serif;

    /* Color Codes from: https://uxplanet.org/neumorphism-in-user-interface-tutorial-c353698ac5c0 */
    --area: #E0E5EC;
    --light-shadow: #FFF;
    --dark-shadow: #A8ACB1;

    --border-radius: 5px;

    /* Outside Shadows: top-left light, bottom-right dark */
    --box-shadow-topleft: -20px -20px 40px var(--light-shadow);
    --box-shadow-botright: 20px 20px 40px var(--dark-shadow);
    /* Inside Shadow to simulate lower down elements. Inverted outside coloring */
    --box-shadow-inside-topleft: inset 10px 10px 20px var(--dark-shadow);
    --box-shadow-inside-botright: inset -10px -10px 20px var(--light-shadow);

    background-color: var(--area);
}
main {
    max-width:  40em;
    margin:     auto;
    padding:    2em;

    border-radius: 10px;
    background-color: #E0E5EC;
    box-shadow: var(--box-shadow-botright), var(--box-shadow-topleft);
}
h1 {
    text-align: center;
}
.holder {
    margin: 0 3em 0 3em;
}

input[type=text] {
    font-size: 1.2em;
    border-width: 0;
    width: calc(100% - 95px); /* Scale with space  */

    background: var(--area);
    box-shadow: var(--box-shadow-botright);
    padding: 10px;
}

input[type=text]:focus, button:active, #plus:active, #fortune:active {
    box-shadow: var(--box-shadow-inside-botright),
                var(--box-shadow-inside-topleft);
}

input[type=text]:focus, button:focus, #plus:focus, #fortune:focus {
    outline: transparent none 0;
}

input[type=checkbox] {
    margin-top: 26px;
    margin-left: 0;
}

/* Hack to make checkboxes stylable */
input[type=checkbox]::before {
    content: '\25A1';
    background: var(--area);
    box-shadow: var(--box-shadow-botright);
    padding: 16px;

    border-bottom-right-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}
input[type=checkbox]:checked::before {
    content: '\25A3';
    box-shadow: var(--box-shadow-inside-topleft), var(--box-shadow-inside-botright);
 }

#todoContainer {
    display: flex;
    flex-wrap: wrap;
}
#todoContainer button, #todoContainer input[type=text] {
    margin-top: 10px;
    padding-top: 11px;
}
#plus, #fortune {
    border: 0;
    padding: 15px;
    margin: 10px;

    border-radius: var(--border-radius);
    background: var(--area);
    box-shadow: var(--box-shadow-botright), var(--box-shadow-topleft);
}

.delete {
    background-color: transparent;
    border: none;
    color: red;
    font-size: 1.3em;

    border-bottom-left-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
    padding: 10px;

    background: var(--area);
    box-shadow: var(--box-shadow-botright), var(--box-shadow-topleft);
}

div:nth-of-type(2), div:nth-of-type(3) {
    padding: 10px;
    margin-top: 20px;

    border-radius: var(--border-radius);
    background: var(--area);
    box-shadow:  var(--box-shadow-inside-topleft);
}
